{erl_opts, [debug_info, {i, "./include"}]}.

{deps,
 [{cowboy, {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}},
  {jsx, "~> 3.0"}]}.

{relx,
 [{release, {taskerl, "0.1.0"}, [taskerl, sasl, cowboy, jsx]},
  {mode, dev},
  %% automatically picked up if the files
  %% exist but can be set manually, which
  %% is required if the names aren't exactly
  %% sys.config and vm.args
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"}]}.

    %% the .src form of the configuration files do
    %% not require setting RELX_REPLACE_OS_VARS
    %% {sys_config_src, "./config/sys.config.src"},
    %% {vm_args_src, "./config/vm.args.src"}

{profiles,
 %% prod is the default mode when prod
 %% profile is used, so does not have
 %% to be explicitly included like this
 [{prod, [{relx, [{mode, prod}]}]}]}.

%% use minimal mode to exclude ERTS
%% {mode, minimal}
{dialyzer,
 [{warnings,
   [unmatched_returns, error_handling, overspecs, unknown, no_return, no_unused]},
  {plt_apps, top_level_deps},
  {plt_extra_apps, [ranch]},
  {plt_location, local},
  {plt_prefix, "taskerl"}]}.

{ct_opts,
 [{dir, "apps/taskerl/test"},
  {sys_config, "apps/taskerl/test/test.config"},
  {logdir, "logs/ct"},
  {suite, "taskerl_SUITE"},
  {cover_enabled, true},
  {cover_opts, [verbose]},
  {cover_export_enabled, true}]}.

{alias,
 %% Run both CT and coverage in sequence using proper rebar3 tasks
 [{test, [{ct, "--cover"}, cover]}]}.

{plugins, [rebar3_format]}.
